/*
* @Author: liuyb
* @Date:   2017-06-28 10:28:19
* @Last Modified by:   liuyb
* @Last Modified time: 2017-06-28 11:26:01
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body,
button,
input,
select,
textarea {
    font: 13px/1 tahoma, arial, 微软雅黑, 宋体;
    outline: none
}

h1 {
    font-size: 18px
}

h2 {
    font-size: 16px
}

h3 {
    font-size: 14px
}

h4,
h5,
h6 {
    font-size: 100%
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace
}

small {
    font-size: 12px
}

ul,
ol {
    list-style: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

abbr[title],
acronym[title] {
    border-bottom: 1px dotted;
    cursor: help
}

q:before,
q:after {
    content: ''
}

legend {
    color: #000
}

fieldset,
img {
    border: none
}

button,
input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border: none;
    height: 1px
}

html {
    overflow-y: scroll
}

.hide {
    display: none
}

.senparc-header {
    background: #034067
}

.logo img {
    margin-top: 8px
}

.navbar-collapse {
    float: right
}

.wrapper-header {
    width: 1100px;
    margin: 0 auto
}

.header-title {
    font-size: 22px;
    line-height: 38px;
    padding-top: 8px;
    float: left;
    margin-left: 6px;
    letter-spacing: 2px
}

.header-title a {
    color: #fff
}

.navbar-brand {
    padding-top: 10px
}

.nav-catalog {
    line-height: 58px;
    color: #fff;
    padding-right: 16px
}

.nav-catalog li {
    color: #fff;
    line-height: 58px;
    font-size: 16px;
    float: left
}

.nav-catalog a {
    color: #fff
}

.senparc-jumbotron {
    background: url(/images/v2/background.png);
    width: 100%;
    padding: 28px 0 0 0
}

#noticearea {
    background-color: #ff0;
    color: #4d4d4d;
    line-height: 30px;
    text-align: center
}

.senparc-container {}

.container-left {
    height: 100%;
    text-align: center;
    float: left;
    margin-top: 8px
}

.container-left li {
    background: #4ebbfd;
    margin-bottom: 20px;
    line-height: 36px;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: 1px
}

.container-left a {
    color: #fff;
    display: block
}

.container-right {
    float: left;
    margin-top: 4px
}

.container-span {
    color: #fff;
    display: block;
    padding-bottom: 26px
}

.container-p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 30px;
    display: block
}

.contatc-name {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    float: left;
    line-height: 26px;
    clear: left
}

.contatc-img {
    float: left;
    margin-right: 10px;
    display: inline
}

.contatc-img a {
    display: block
}

.catalog {
    background: #e7eef1;
    text-align: center
}

.catalog a {
    line-height: 68px;
    color: #799999;
    letter-spacing: 2px
}

.catalog a:hover,
.catalog a.active {
    color: #0781cd
}

.weixin-item {
    margin-bottom: 30px
}

.max {
    width: 60%
}

.weixin-item:last-child {
    margin-left: 0
}

.weixin-item-title {
    font-size: 20px;
    color: #4d4d4d;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 35px
}

.weixin-bottom-buttons {
    margin-top: 40px;
    clear: both
}

.weixin-item-button {
    margin-bottom: 20px
}

.weixin-item-content {
    width: 60%;
    float: left
}

.weixin-item-font {
    font-size: 16px;
    color: #7e7e7e;
    line-height: 24PX;
    padding-bottom: 20px;
    padding-right: 40px
}

.weixin-item img {}

img.official-img {
    clear: both
}

.weixin-weiweihi {
    width: 730px;
    margin: 0 auto;
    margin-bottom: 30px
}

.content-weixin {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 40px
}

.weixin-bottom {
    text-align: center;
    padding-bottom: 40px;
    float: left
}

.weixin-item-left {
    float: left
}

.readmore {
    margin-top: 40px;
    float: left
}

.application {
    background: #1fa0d2;
    padding: 5px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px
}

.test {
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 30px;
    clear: both
}

.test table {
    width: 100%
}

.test table td {
    width: 50%
}

.test-item {
    text-align: center;
    height: 100%;
    margin: 20px;
    vertical-align: top
}

.item-title {
    font-size: 20px;
    color: #4d4d4d;
    letter-spacing: 1px;
    padding-top: 8px;
    padding-bottom: 12px
}

.item-content {
    font-size: 16px;
    color: #7e7e7e;
    line-height: 24PX;
    padding-bottom: 20px
}

.feedback {
    background: #edf0f0;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    margin-top: 20px
}

.feedback-info {
    width: 60%;
    float: left
}

.feedback-info p {
    color: #5e5e5f;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
    padding-left: 60px
}

.feedback-action {
    width: 30%;
    float: left;
    text-align: center
}

.feedback-action p {
    color: #808383;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px
}

.feedback-action img {
    width: 184px
}

.footer {
    background: #0a9cd2;
    height: 84px;
    text-align: center;
    padding-top: 10px
}

.footer-contact {
    font-size: 16px;
    color: #fff;
    line-height: 36px
}

.footer-contact a {
    color: #fff
}

.footer-icon {
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px
}

.clear {
    clear: both
}

.form-control {
    padding: 36px 0;
    width: 50%;
    float: left
}

.control-label {
    text-align: right;
    float: left;
    width: 93px;
    font-size: 14px;
    color: #585858;
    line-height: 32px;
    padding-right: 6px;
    height: 32px;
    margin: 10px 0
}

.form-control li {}

.control-input {
    height: 22px;
    width: 300px;
    padding: 5px;
    border: 1px solid #a09d9d;
    margin: 10px 0
}

.control-select {
    width: 300px;
    height: 32px;
    margin: 10px 0
}

.control-title {
    font-size: 18px;
    color: #585858;
    padding-left: 93px;
    margin-top: 20px;
    overflow: hidden
}

.send {
    padding-left: 0;
    display: block
}

.control-btn {
    margin-left: 93px;
    height: 36px;
    width: 314px;
    background: #0a9cd2;
    color: #fff;
    letter-spacing: 1px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    border: 0;
    cursor: pointer
}

.control-text {
    width: 438px;
    height: 190px;
    padding: 5px;
    margin: 10px 0;
    border: .2px solid #bfbdbd
}

.control-head {
    width: 314px;
    text-align: center
}

.control-p {
    color: #585858;
    font-size: 14px;
    line-height: 24px;
    width: 80%;
    padding-left: 30px;
    letter-spacing: 1px
}

.up-experience {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 0
}

.up-experience p {
    color: #4c4c4c;
    font-size: 20PX;
    letter-spacing: 1px;
    line-height: 36px
}

.up-experience img {
    padding: 30px 0;
    width: 100%
}

.up-experience a {
    background: #0a9cd2;
    letter-spacing: 2px;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px
}

.version {
    margin-top: 16px
}

.tbVersion {
    color: #4d4d4d;
    font-size: 15px
}

.tbVersion th {
    font-weight: bold;
    padding: 10px;
    color: #4d4d4d;
    border-bottom: 1px solid #4d4d4d
}

.tbVersion td {
    padding: 6px;
    color: #4d4d4d;
    line-height: 150%;
    vertical-align: middle
}

.tbVersion td a {
    color: #4d4d4d
}

.sdk-version {
    text-decoration: underline
}

.sdk-version:hover {
    text-decoration: none
}

.tbVersion tbody>tr:hover {
    background: #abe0ff
}

.tbVersion img {
    vertical-align: bottom
}

#menuEditor h3 {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px
}

#menuEditor ul {
    margin: 13px 0;
    padding-left: 40px;
    list-style: disc;
    font-size: 15px;
    line-height: 22px
}

#menuEditor li {}

#menuEditor .control-btn {
    margin-left: 0;
    width: 118px
}

.float-left {
    float: left
}

.menu-state {
    padding: 14px 0
}

.menu-list {
    width: 580px
}

.menu-list table {
    width: 580px
}

.menu-list table tr {}

.menu-list table tr th {
    font-size: 1.2em;
    text-align: left
}

.menu-list table tr td {}

.menu-list .control-input {
    width: auto
}

#submitArea {
    margin-bottom: 14px
}

.line {
    width: 96%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd
}

.currentTestItem {
    background: #ddd
}

.segregate {
    height: 0;
    width: 90%;
    margin: 40px auto;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    clear: both
}

.crowdfunding-note p {
    font-size: 16px
}

#tm_checkcode {
    border: 1px solid #a09d9d
}

.asyncWapper_con {
    overflow-x: scroll
}

.container-span span {
    display: block;
    color: #fff;
    margin-bottom: 10px
}

@media screen and (min-width:1000px) {
    .content {
        min-width: 1000px
    }
    .logo {
        float: left
    }
    .nav-catalog li {
        padding-left: 48px
    }
    .container-left {
        width: 260px
    }
    .wrapper {
        width: 1000px;
        margin: 0 auto;
        overflow: hidden
    }
    .container-right {
        padding-left: 49px
    }
    .container-span {
        font-size: 28px
    }
    .container-p {
        font-size: 18px
    }
    .weixin-bottom {}
    .content-weixin {
        width: 600px;
        margin: 0 auto;
        clear: both
    }
    img.official-img {
        margin: 5px 0 0 0
    }
    .tbVersion {
        width: 100%
    }
    .contact {
        margin-top: 100px
    }
    .catalog a {
        font-size: 22px;
        padding-right: 48px
    }
}

@media screen and (min-width:932px)and (max-width:999px) {
    .content {
        max-width: 100%
    }
    .logo {
        float: none
    }
    .logo img {
        margin-left: 15px
    }
    .header-title {
        margin-left: 25px;
        font-size: 20px
    }
    .navbar-collapse {
        width: 100%
    }
    .nav-catalog li {
        padding-left: 45px
    }
    .wrapper {
        width: 100%;
        margin: 0 auto;
        overflow: hidden
    }
    .container-left {
        margin-left: 25px;
        width: 245px
    }
    .container-right {
        padding-left: 49px
    }
    .container-span {
        font-size: 26px
    }
    .container-p {
        font-size: 16px
    }
    .weixin-bottom {
        margin: 0 3%;
        padding-bottom: 20px
    }
    .content-weixin {
        float: none
    }
    .weixin-item-bs {
        float: left;
        width: 50%!important;
        text-align: left;
        padding-left: 45px;
        margin-bottom: 0
    }
    img.official-img {
        margin: 0
    }
    .tbVersion {
        width: 100%
    }
    .tbVersion_bootstrap {
        float: left;
        width: 50%!important;
        margin-top: 105px;
        text-align: left
    }
    .tbVersion_bootstrap td {
        width: 270px
    }
    .contact {
        margin-top: 100px
    }
    .catalog a {
        font-size: 22px;
        padding-right: 48px
    }
    .control-text {
        width: 330px
    }
    #resultText {
        margin-right: 10px
    }
    .result h1 {
        margin: 40px 30px 20px!important
    }
    .feedback {
        margin-top: 0
    }
}

@media screen and (min-width:838px)and (max-width:931px) {
    .content {
        max-width: 100%
    }
    .logo {
        float: none
    }
    .logo img {
        margin-left: 15px
    }
    .header-title {
        margin-left: 25px;
        font-size: 20px
    }
    .navbar-collapse {
        width: 100%
    }
    .nav-catalog li {
        padding-left: 33px
    }
    .wrapper {
        width: 100%;
        margin: 0 auto;
        overflow: hidden
    }
    .container-left {
        margin-left: 15px;
        width: 233px
    }
    .container-right {
        padding-left: 30px
    }
    .container-span {
        font-size: 24px
    }
    .container-p {
        font-size: 16px
    }
    .weixin-bottom {
        width: 94%;
        margin: 0 3%;
        padding-bottom: 20px
    }
    .content-weixin {
        float: none
    }
    .weixin-item-bs {
        float: left;
        width: 50%!important;
        text-align: left;
        padding-left: 45px;
        margin-bottom: 0
    }
    img.official-img {
        margin: 0
    }
    .tbVersion {
        width: 100%
    }
    .tbVersion_bootstrap {
        float: left;
        width: 50%!important;
        margin-top: 105px;
        text-align: left
    }
    .tbVersion_bootstrap td {
        width: 270px
    }
    .contact {
        margin-top: 100px
    }
    .catalog a {
        font-size: 22px;
        padding-right: 35px
    }
    .form-control {
        width: 46%;
        margin: 0 2%
    }
    .control-label {
        width: 70px
    }
    .control-btn {
        margin-left: 70px
    }
    .control-text {
        width: 330px
    }
    #resultText {
        margin-right: 10px
    }
    .result h1 {
        margin: 40px 30px 20px!important
    }
    .feedback {
        margin-top: 0
    }
}

@media screen and (min-width:768px)and (max-width:837px) {
    .content {
        max-width: 100%
    }
    .logo {
        float: none
    }
    .logo img {
        margin-left: 15px;
        margin-top: 12px
    }
    .header-title {
        margin-left: 25px;
        font-size: 18px
    }
    .navbar-collapse {
        width: 100%
    }
    .nav-catalog li {
        padding-left: 26px
    }
    .wrapper {
        width: 100%;
        margin: 0 auto;
        overflow: hidden
    }
    .container-left {
        margin-left: 15px;
        width: 100%
    }
    .container-right {
        width: 100%;
        text-align: left;
        margin-top: 35px
    }
    .container-span {
        font-size: 24px;
        margin-left: 110px
    }
    .container-span-title {
        text-align: center!important
    }
    .container-p {
        font-size: 16px;
        margin-left: 110px
    }
    .weixin-bottom {
        width: 94%;
        margin: 0 3%;
        padding-bottom: 20px
    }
    .content-weixin {
        float: none
    }
    .weixin-item-bs {
        float: left;
        width: 50%!important;
        text-align: left;
        padding-left: 45px;
        margin-bottom: 0
    }
    img.official-img {
        margin: 0
    }
    .tbVersion {
        width: 100%
    }
    .tbVersion_bootstrap {
        float: left;
        width: 50%!important;
        margin-top: 105px;
        text-align: left
    }
    .tbVersion_bootstrap td {
        width: 270px
    }
    .container-left li {
        width: 34%;
        margin: 0 8% 20px;
        float: left
    }
    .contact {
        margin-top: 26px;
        margin-bottom: 28px;
        margin-left: 110px
    }
    .contatc-name {
        margin-bottom: 5px
    }
    .catalog a {
        font-size: 20px;
        padding: 0 16px
    }
    .form-control {
        width: 46%;
        margin: 0 2%
    }
    .control-label {
        width: 70px
    }
    .control-input {
        width: 260px
    }
    .control-btn {
        margin-left: 70px;
        width: 272px;
        margin-top: 6px
    }
    .control-p {
        width: 97%
    }
    .up-experience p {
        font-size: 18px
    }
    .control-title {
        padding-left: 70px
    }
    .control-select {
        width: 270px
    }
    .control-text {
        width: 330px
    }
    #resultText {
        margin-right: 10px
    }
    .result h1 {
        margin: 40px 30px 20px!important
    }
    .description h1 {
        padding-left: 12px
    }
    #downloadArea h2 {
        font-size: 180%
    }
    #downloadArea img {
        width: 190px
    }
    .weixin-bottom-buttons {
        margin-top: 30px
    }
    .weixin-item-button {
        margin-bottom: 15px
    }
    .feedback {
        margin-top: 0
    }
}

@media screen and (min-width:375px)and (max-width:767px) {
    .content {
        max-width: 100%;
    }
    e;
}

:12px;

}
:24px;

}
d7b;

}
:center;

}
idden;

}
%;

}
op:25px;

}
6px;

}
t;

}
6px;

}
:20px;

}
l;

}
t:0;

}
0;

}
8px;

}
%;

}
op:10px;

}

}
ze:15px;

}
8px;

}
x;

}
x 0;

}
:35px;

}
ght:0;

}
5px;

}
ter;

}
rap;

}
rap;

}
e-block;

}
x;

}
x;

}
eft;

}
3%;

}
5px;

}
one;

}
5px;

}
x;

}
%;

}
one;

}
:25px;

}
one;

}
x;

}
5px;

}
x 0 0;

}
x;

}
x;

}
x;

}
p:6px;

}
graph;

}
x;

}
0;

}
x;

}
%;

}
6px;

}
x;

}
x;

}
%;

}
x;

}
rtant;

}
t;

}
:none;

}
x;

}
t;

}
t;

}
%;

}
%;

}
eee;

}
e;

}
x;

}
t;

}
%;

}
%;

}
x;

}
0;

}
x;

}
x;

}
x;

}
o;

}
0;

}
@media screen and (min-width:200px)and (max-width:374px) {
    .content {
        max-width:100%;
    }
    :12px;
}
:20px;

}
d7b;

}
:center;

}
x;

}
idden;

}
%;

}
x;

}
op:25px;

}
x;

}
eft;

}
:20px;

}
t:0;

}
0;

}
0px;

}
%;

}
op:10px;

}

}
ight:26px;

}
8px;

}
4px;

}
x 0;

}
:30px;

}
ght:0;

}
5px;

}
ter;

}
l;

}
rap;

}
rap;

}
ine-block;

}
x;

}
x;

}
eft;

}
3%;

}
3px;

}
one;

}
5px;

}
x;

}
%;

}
one;

}
:25px;

}
one;

}
6px;

}
5px;

}
x;

}
0px;

}
t;

}
x;

}
x 0 0;

}
x;

}
x;

}
0px;

}
top:6px;

}
eograph;

}
x;

}
0;

}
4px;

}
0;

}
x;

}
%;

}
5px;

}
%;

}
t;

}
%;

}
x;

}
rtant;

}
ant;

}
t;

}
t;

}
%;

}
%;

}
eee;

}
e;

}
x;

}
%;

}
x;

}
%;

}
5px;

}
:none;

}
x;

}
t;

}
x;

}
x;

}
0;

}
x;

}
x;

}
x;

}
o;

}
0;

}
